.App > div {
  border: solid black 3px;
}
.App {
  display: flex;
  flex-direction: row;
}
.ExperienceList {
  width: 40vw;
  background-color: blueviolet;

  display: flex;
  border: solid black 5px;
}
